<nav class="navbar no-margin-bottom alt-font bg-white sidebar-nav">
    <div class="container navigation-menu">
        <div class="row">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="col-md-12 col-sm-12 navbar-header margin-twenty no-margin-lr no-margin-top sm-no-margin">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand section-link" href="#home"><img src="images/logo-pink.png" alt=""/></a>
            </div>
            <div class="col-md-12 margin-thirty no-margin-lr sm-no-margin">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#about" class="section-link">About Me</a></li>
                        <li><a href="#skills" class="section-link">Skills</a></li>
                        <li><a href="#education" class="section-link">Education</a></li>
                        <li><a href="#employment" class="section-link">Employment</a></li>
                        <li><a href="#portfolio" class="section-link">Portfolio</a></li>
                        <li><a href="#blog" class="section-link">Blog</a></li>
                        <li><a href="#contact" class="section-link">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 margin-ten no-margin-lr sm-display-none">
                <div class="footer-social">
                    <!-- social media link -->
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook icon"></i></a>
                    <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
                    <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <!-- end social media link -->
                </div>
            </div>
        </div>
    </div>
</nav>